@font-face {
  font-family: "iconfont"; /* Project id 2703148 */
  src: url('iconfont.woff2?t=1627450215805') format('woff2'),
       url('iconfont.woff?t=1627450215805') format('woff'),
       url('iconfont.ttf?t=1627450215805') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /*font-size: 16px;*/
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-gouwuche:before {
  content: "\e801";
}

.icon-arrow-down:before {
  content: "\e665";
}

